.hero{
  width:100%;
  min-height:100vh;
  margin-top:0px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(33, 251, 142, 0);
  display:flex;
  justify-content:center;
  align-items:center;
}

.logo img{
  width:500px;      /* Adjust between 300px–500px as needed */
  max-width:90%;
  height:auto;
  display:block;
  margin:0 auto 30px auto;
}

.hero-content{
  color:#fff;
  text-align:center;
  width:90%;
  max-width:1000px;
  padding:20px;

  display:flex;
  flex-direction:column;
  align-items:center;
}

.hero-content h1{
  font-size:60px;
  margin-bottom:20px;
}

.hero-content p{
  font-size:25px;
  margin-bottom:20px;
}

.hero-content h3{
  font-size:19px;
  line-height:1.8;
  margin-bottom:40px;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:40px;
}

.btn-green,
.btn-brown{
  text-decoration:none;
  color:#fff;
  padding:15px 35px;
  border-radius:40px;
  font-weight:bold;
  transition:all 0.3s ease;
}

/* Default Colors */
.btn-green{
  background:#3cbd25;
}

.btn-brown{
  background:#3cbd25;
}

/* Hover Effect */
.btn-green:hover,
.btn-brown:hover{
  background:#5c110b;
  transform:translateY(-5px);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* Tablet */

@media (max-width:992px){

    .hero{
        min-height:90vh;
    }

    .logo img{
        width:220px;
        max-width:80%;
        margin:0 auto 20px;
    }

    .hero-content h1{
        font-size:48px;
    }

    .hero-content p{
        font-size:22px;
    }

}

/* Mobile */

@media (max-width:768px){

    .hero{
        min-height:100vh;
        background-position:center;
    }

    .hero-content{
        padding:20px;
    }

    .logo img{
        width:180px;
        max-width:70%;
        margin:0 auto 20px;
        display:block;
    }

    .hero-content h1{
        font-size:32px;
        line-height:1.3;
    }

    .hero-content p{
        font-size:17px;
    }

    .hero-content h3{
        font-size:15px;
        line-height:1.7;
        margin-bottom:30px;
    }

    .hero-buttons{
        flex-direction:column;
        gap:15px;
        width:100%;
    }

    .btn-green,
    .btn-brown{
        width:100%;
        max-width:260px;
        text-align:center;
    }

}