.why-section{
    width:100%;
    padding: 30px 100px;
    background:#bce5b58e;

    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:30px;

    align-items:center;
}

.why-left h5{
    color:#28882d;
    font-size:22px;
    margin-bottom:10px;
}

.why-left h2{
    font-size:42px;
    color:#511d13;
    margin-bottom:20px;
     font-weight:600;
}

.why-text{
    color:#504f4f;
    line-height:1.8;
    margin-bottom:40px;
    font-size:17px;
}

.why-grid{
    display:grid;
    gap:20px;
}

.why-card{
    display:flex;
    gap:17px;
    align-items:flex-start;

    background:#79cc9d6c;

    padding:5px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;
}

.why-card:hover{
    transform:translateY(-5px);
}

.why-icon{
    width:65px;
    height:65px;

    min-width:65px;

    border-radius:50%;

    background:#248128;

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:26px;

    transition:.3s;
}

.why-card:hover .why-icon{
    background:#511d13;
    transform:rotate(10deg);
}

.why-card h3{
    color:#511d13;
    margin-bottom:8px;
    font-size:22px;
}

.why-card p{
    color:#4d4b4b;
    line-height:1.6;
    font-size:15px;
}

.why-right{
    display:flex;
    justify-content:center;
}

.why-right img{
    width:100%;
    max-width:500px;
    height:600px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

/* Tablet */

@media(max-width:992px){

.why-section{
    grid-template-columns:1fr;
}

.why-right{
    order:-1;
}

.why-right img{
    max-width:600px;
    height:450px;
}

}

/* Mobile */

@media(max-width:768px){

.why-section{
    padding:30px 80px;
    gap:40px;
}

.why-left h2{
    font-size:33px;
}

.why-left h5{
    font-size:22px;
}

.why-text{
    font-size:15px;
}

.why-card{
    padding:18px;
}

.why-icon{
    width:55px;
    height:55px;
    min-width:55px;
    font-size:22px;
}

.why-right img{
    width:100%;
    height:300px;
}

}